/*导航*/
.header {
  height: auto;
  background: #060608;
}
.header .max-nav {
  height: 44px;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0 14px;
  text-align: justify;
  /*是行内元素左右对齐*/
  line-height: 44px;
}
.header .max-nav:after {
  content: "";
  display: inline-block;
  line-height: 0px;
  height: 0px;
  width: 100%;
  font-size: 0px;
}
.header .max-nav a {
  vertical-align: middle;
  padding: 0 5px;
  height: 100%;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header .max-nav a:hover {
  color: #ccc;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header .min-nav {
  max-width: 100%;
  height: 44px;
  background: #060608;
  line-height: 44px;
  text-align: justify;
}
.header .min-nav:after {
  content: "";
  display: inline-block;
  line-height: 0px;
  height: 0px;
  width: 100%;
  font-size: 0px;
}
.header .min-nav .min-navL {
  display: inline-block;
  width: 48px;
  height: 48px;
}
.header .min-nav .min-navL div {
  width: 18px;
  height: 1px;
  margin: 0 auto;
  background: #fff;
}
.header .min-nav .min-navL .min-navL1 {
  margin-top: 20px;
}
.header .min-nav .min-navL .min-navL2 {
  margin-top: 5px;
}
.header .hidden {
  display: none;
}
.header .show {
  display: block;
}
/*banner*/
.banner {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
}
.banner img {
  display: block;
  max-width: 100%;
}
.body0 .row div {
  min-height: 200px;
  padding-left: 0px;
  padding-right: 2px;
}
.body0 .row div a {
  display: block;
  min-height: 200px;
}
.body1 {
  background: #fff;
}
.body1 .body11 {
  width: 606px;
  margin: 0px auto;
}
.body1 .body11 .body1T {
  height: 100%;
  padding-top: 20px;
  text-align: justify;
  border-bottom: 1px solid #D6D6D6;
}
.body1 .body11 .body1T:after {
  content: "";
  display: inline-block;
  line-height: 0px;
  height: 0px;
  width: 100%;
  font-size: 0px;
}
.body1 .body11 .body1T .body1TL {
  display: inline-block;
}
.body1 .body11 .body1T .line {
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #000;
  margin: 12px 10px;
}
.body1 .body11 .body1T .body1TR {
  display: inline-block;
  color: #333;
  min-height: 40px;
  text-align: justify;
  padding-top: 9px;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.body1 .body11 .body1T .body1TR span {
  display: block;
  float: left;
}
.body1 .body11 .body1T .body1TR a {
  display: block;
  float: left;
  color: #0088CC;
}
.body1 .body11 .body1B {
  text-align: center;
  padding: 20px 0;
}
.body1 .body11 .body1B a {
  color: #0088CC;
}
.footer {
  height: auto;
  background: #F2F2F2;
  padding-top: 30px;
}
.footer h3 {
  font-size: 12px;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.footer h3:hover {
  cursor: pointer;
}
.footer li {
  font-size: 12px;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 24px;
}
.footer .footerB ul li {
  width: 100%;
  min-height: 30px;
  margin-top: 40px;
  font-size: 12px;
  color: #ccc;
  border-bottom: 1px solid #ddd;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.footer .footerB ul li a {
  color: #4693EC;
}
.footer .footerB ul li a:hover {
  text-decoration: underline;
  color: #1b1b1b;
}
.footer .footerB ul li:nth-child(2) {
  margin-top: 10px;
}
.footer .footerB ul li:nth-child(2) a {
  padding-left: 10px;
}
.footer .footerB ul li:nth-child(2) a:hover {
  text-decoration: underline;
  color: #1b1b1b;
}
@media screen and (max-width: 760px) {
  .header .max-nav {
    display: block;
    background: #060608;
    display: none;
    margin-left: -15px;
    margin-right: -15px;
  }
  .header .max-nav a:first-child {
    display: none;
  }
  .header .max-nav a:last-child {
    display: none;
  }
  .header .max-nav a {
    display: block;
    font-size: 18px;
    background: #060608;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding-left: 60px!important;
    padding-right: 60px!important;
  }
  .header .min-nav {
    display: block!important;
  }
  .body1 {
    overflow: hidden;
  }
  .body11 .body1T {
    margin: 0px auto!important;
  }
  .line {
    display: none;
  }
  .body1TR {
    display: block!important;
    margin: 0 auto!important;
  }
  .body1TR a {
    clear: left;
    padding-left: 60px;
  }
  .body1TR span {
    padding-left: 30px;
  }
  .body1TL {
    margin: 0 auto!important;
    padding-left: 50px;
  }
  .body11 {
    width: 340px!important;
  }
  .footer .footerT h3 {
    height: 50px;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
  }
  .footer .footerT ul {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  .header .max-nav {
    display: block!important;
  }
  .body0 {
    display: block!important;
  }
  .banner {
    display: block!important;
  }
  .body11 {
    max-width: 760px;
  }
  .footerT ul {
    display: block!important;
  }
}
